<div class="container text-center">
  <h3 class="mt-5">Pedidos</h3>
  <table class="table table-bordered">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>Total</th>
      <th>Fecha Creación</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody id="tablaPedidos">
    <tr *ngFor="let pedido of pedidos; let i = index" style="text-align: center;">
      <td>{{ i + 1 }}</td>
      <td>{{ pedido.cliente.nombre }}</td>
      <td>{{ pedido.total }}</td>
      <td>{{ pedido.fechaCreacion | date: 'dd/MM/yyyy' }}</td>
      <!--      <td class="estado-cell text-primary"> mmm </td>-->
      <td [ngClass]="{
      'text-primary': pedido.estado == 1,
      'text-warning': pedido.estado == 2,
      'text-success': pedido.estado == 3
    }">
        <span>{{ getEstadoNombre(pedido.estado) }}</span>
      </td>


      <td>
        <select
          [ngClass]="{
    'text-primary': pedido.estado == 1,
    'text-warning': pedido.estado == 2,
    'text-success': pedido.estado == 3
  }"
          class="form-select form-select-sm w-auto d-inline"
          (change)="cambiarEstado(pedido, $event)"
          [disabled]="pedido.estado === 3">
          <option value="1" [selected]="pedido.estado == 1">Pendiente</option>
          <option value="2" [selected]="pedido.estado == 2">Enviado</option>
          <option value="3" [selected]="pedido.estado == 3">Entregado</option>
        </select>
        <button
          class="btn btn-danger btn-sm me-1"
          (click)="deletePedidos(pedido)"
          [disabled]="pedido.estado === 3">
          Eliminar
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<script>
  function cambiarEstado(select) {
    const estado = select.value;
    const tdEstado = select.closest('tr').querySelector('.estado-cell');

    tdEstado.textContent = estado;

    tdEstado.classList.remove('text-primary', 'text-warning', 'text-success');

    if (estado === 'pendiente') tdEstado.classList.add('text-primary');
    if (estado === 'enviado') tdEstado.classList.add('text-warning');
    if (estado === 'entregado') {
      tdEstado.classList.add('text-success');
      select.disabled = true;
    }
  }
</script>
